$dark: #191c24;

:root {
  --border-radius: 15px;
}

label,
input,
button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: normal;
  font-size: inherit;
  border: none;
  background-color: transparent;
}

.Auth {
  position: relative;
  height: 100vh;
  font-family: monospace;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQ1IDc5LjE2MzQ5OSwgMjAxOC8wOC8xMy0xNjo0MDoyMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTkgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjhBNDA0QkE5QzVBNjExRUNCNDE4QjVBRjZEQkI2MjcxIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjhBNDA0QkFBQzVBNjExRUNCNDE4QjVBRjZEQkI2MjcxIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OEE0MDRCQTdDNUE2MTFFQ0I0MThCNUFGNkRCQjYyNzEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OEE0MDRCQThDNUE2MTFFQ0I0MThCNUFGNkRCQjYyNzEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4VUwQNAAAAFUlEQVR42mJgYGD4z/D//38GgAADAA77A/1Wg3pjAAAAAElFTkSuQmCC');
      background-color: rgba(255,255,255, .65);
    }

    video {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
    }
  }
  
  &-inner {
    height: 100%;
  }

  &-Form {
    //display: flex;
    //flex-direction: column;
    padding: 1.25rem !important;
    background-color: $dark;
    width: 350px;
    box-shadow: 0 0 5rem 0 rgba(0,0,0, .3);
    border-radius: var(--border-radius);
    animation-name: form_show;
    animation-direction: normal;
    animation-iteration-count: initial;
    animation-duration: 4s;

    @keyframes form_show {
      0% {
        transform: translateX(2rem);
        opacity: 0;
      }
      10% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    &-header {
      margin-bottom: 2rem;
      text-align: center;
    }

    &-row {
      margin-bottom: 1.5rem;
    }

    &-title {
      text-align: center;
      font-size: 2.6rem;
      margin: 0;
      color: inherit;
      line-height: 1;
      font-family: "Clarendon LT Std", sans-serif;
      font-weight: normal;
    }

    &-label {
      font-weight: 600;
      display: block;
      margin-bottom: .5rem;
    }

    &-input {
      outline: none;
      width: 100%;
      font-family: monospace;
      height: 36px;

      &::placeholder {
        color: #c0c0c0;
      }
    }

    &-group {
      display: flex;
      align-items: center;
      border: 1px solid #e5e5e5;
      border-radius: var(--border-radius);

      & .anticon {
        padding: 10px;
      }
    }

    &-footer {
      text-align: center;
      margin-top: 3rem;
      font-size: 12px;
      font-weight: 400;
    }

    &-button {
      border-radius: var(--border-radius) !important;
    }
  }
}

.ant-login-input {
  border-radius: var(--border-radius) !important;
}